:root {
  --primary-color: #f50537;
  --background-color: #000000;
  --modal-color: #0f0f0f;
  --border-color-gray: #282828;
  --text-white: #ffffff;
  --text-lightblue: #7b9db4;
}

@font-face {
  font-family: Montserrat;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2);
}

body.no-scroll {
  overflow: hidden; /* Prevent background scrolling */
}
/* General body styles */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  font-family: "Alexandria", sans-serif !important;
}

body.no-scroll {
  overflow: hidden !important; /* Prevent background scroll when modal is open */
}

/* Hide scrollbars */
body::-webkit-scrollbar {
  display: none;
}

/* Navbar styles */
.navbar {
  width: 100%;
  height: 50px;
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  box-sizing: border-box;
  transition: top 0.3s ease; /* Smooth hide/show effect */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 20%;
  margin-right: 15px;
}

.navbar-title {
  color: var(--text-white);
  font-size: 24px;
  font-weight: 700;
}

.right-nav {
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu-list-item {
  cursor: pointer;
  color: var(--text-white);
  font-size: 20px;
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 50%;
}

.menu-list-item i {
  color: var(--text-white);
  transition: color 0.3s ease;
}

.menu-list-item:hover i,
.menu-list-item.selected i {
  color: var(--primary-color); /* Hover and selected state */
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
  overflow-y: auto; /* Allow scrolling within the modal */
}

.modal-content {
  background-color: var(--modal-color);
  margin: 8% auto;
  padding: 20px 20px;
  border: 1px solid var(--border-color-gray);
  width: 30%;
  border-radius: 10px;
  color: var(--text-white);
  overflow: hidden;
  max-height: 80vh; /* Ensure modal doesn't exceed viewport */
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-logo-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 100%;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 0px 10px 50px rgba(255, 0, 0, 0.837);
}

.modal-header h2 {
  margin: 0;
  padding-top: 50px;
  font-weight: 600;
  font-size: 25px;
  color: var(--text-white);
}

.modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.modal-form input {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid var(--border-color-gray);
  border-radius: 5px;
  color: #ccc;
  background-color: transparent;
  font-size: 16px;
  outline: none;
  transition: border 0.3s ease, background-color 0.3s ease; /* Smooth transition */
}

/* Highlight the focused input */
.modal-form input:focus {
  outline: none;
  border: 2px solid var(--primary-color); /* Focus border color */
  background-color: rgba(255, 255, 255, 0.1); /* Slight background change */
}

.modal-login-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 4px auto;
  cursor: none;
  border-radius: 50px;
  outline: none;
}

.modal-login-button:hover,
.modal-login-button:focus {
  background-color: var(--text-white);
  color: var(--primary-color); 
  border-radius: 50px !important;
  transform: none; 
}


.modal-footer {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--text-lightblue);
}

.close {
  color: var(--text-white);
  float: right;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.close:hover {
  color: var(--primary-color);
}

.focusable:focus {
  outline: 2px solid var(--primary-color); 
  border-radius: 8px;
  transition: outline 0.3s ease; 
}

.keyboard-container {
  position: fixed; /* Fixed positioning */
  bottom: 0; /* Position at the bottom */
  left: 0; /* Align to the left */
  width: 100%; /* Full width */
  height: 30%; /* Half height */
  background-color: rgba(12, 12, 12, 0.9); /* Light background with slight transparency */
  display: flex;
  flex-direction: column; /* Arrange rows vertically */
  justify-content: center; /* Center content vertically */
  padding: 20px; /* Add padding */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3); /* Shadow for depth */
  z-index: 1000; /* High z-index to ensure it appears above other content */

}

#keyboardCanvas {
  border: 1px solid #000; /* Optional: for visibility */
  width: 100%; /* Adjust as needed */
  height: auto; /* Maintain aspect ratio */
}