:root {
  --primary-color: #f50537;
  --Background-color: #000000;
  --modal-color: #0f0f0f;
  --border-color-gray: #282828;
  --text-white: #ffffff;
  --text-lightblue: #7b9db4;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Alexandria", sans-serif !important;
  background-color: black;
  overflow: hidden;
}

#hero-container {
  width: 90%;
  height: 300px;
  background: url("../images/thumbs/liveTv.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid rgb(57, 57, 57);
  border-radius: 30px;
  margin: auto;
  margin-top: 30px;
  position: relative; /* Ensures child elements can be positioned relative to this container */
}

#hero {
  height: 100%; /* Ensure #hero fills the container */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Allows positioning of the overlay and text */
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgb(0, 0, 0)
  ); /* Gradient from bottom to top */
  z-index: 0; /* Make sure the overlay is behind the text */
}

#hero h2 {
  color: white;
  font-size: 45px;
  text-align: center;
  position: relative;
  z-index: 1; /* Ensure the text is above the overlay */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds a soft shadow to the text */
}

#hero p {
  color: rgb(213, 213, 213);
  font-size: 25px;
  text-align: center;
  position: relative;
  z-index: 1; /* Ensure the text is above the overlay */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Adds a soft shadow to the text */
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 50px;
  color: white;
  position: relative;
  z-index: 1;
}

#grid2-container a {
  text-decoration: none !important;
}

#grid2-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  gap: 20px;
  padding-top: 100px !important;
  width: 90%;
  padding: 10px;
  margin: auto;
  justify-items: center;
  align-items: center;
}

.game-title {
  text-align: center !important;
  padding: 15px 0;
  font-size: 20px;
  background-color: #555;
}

#video-grid-container {
  padding: 50px 0;
  width: 90%;
  margin: auto;
}

.media-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 25pt;
  color: #ffffff;
  width: 100%;
  margin-bottom: 20px;
}

.video-row {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(
    6,
    minmax(150px, 1fr)
  ); /* Adjust to fit columns */
  padding-top: 20px;
}

.video-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  background: #191919;
  transition: transform 0.4s ease;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  height: 270px;
  text-align: center;
  position: relative; /* Needed for overlay positioning */
  transition: all 1s ease;
}

.video-tile.selected {
  transform: scale(1.1);
  border: 2px solid #b4b4b45a;
  z-index: 10;
  transition: all 1s ease;
}

.video-tile img {
  width: 100%;
  height: 180px;
  object-fit: fill;
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.9;
  transition: opacity 2s ease;
}

.video-tile.selected img {
  opacity: 1;
  transform: scale(1.05);
}

.video-tile .title {
  font-size: 15pt;
  font-weight: 600;
  color: #ffffff98;
  margin-top: 50px;
  transition: color 2s ease, transform 4s ease;
}

.video-tile.selected .title {
  color: #ff0051;
}

/* Overlay styles */
.video-tile .overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.374), black);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  transition: opacity 1s ease-in-out;
  z-index: 2;
  pointer-events: none;
}

.video-tile.selected .overlay {
  display: flex;
}

/* Play icon */
.play-icon {
  width: 48px;
  height: 48px;
  margin-top: -100px !important;
  fill: var(--text-white);
  background-color: var(--primary-color);
  border-radius: 50%;
  opacity: 0 !important;
  transition: all 1s ease-in-out !important;
}

.video-tile.selected .play-icon {
  opacity: 1 !important;
  margin-top: 0 !important;
}

@media (max-width: 1600px) {
  .video-row {
    grid-template-columns: repeat(6, minmax(120px, 1fr));
  }
}

@media (max-width: 1200px) {
  .video-row {
    grid-template-columns: repeat(4, minmax(120px, 1fr));
  }
}

@media (max-width: 900px) {
  .video-row {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
  }
}

@media (max-width: 600px) {
  .video-row {
    grid-template-columns: repeat(2, minmax(80px, 1fr));
  }
}

.placeholder-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  background: #191919;
  /* width: 300px; */
  height: 270px;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.placeholder-img {
  width: 100%;
  height: 200px;
  background: #414141bf;
  border-radius: 10px;
}

.placeholder-title {
  width: 90%;
  height: 20px;
  background: #414141bf;
  margin-top: 20px;
  border-radius: 5px;
}

.placeholder-img,
.placeholder-title {
  background: linear-gradient(90deg, #414141bf 25%, #616161 50%, #414141bf 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
