html {
  background-color: #000;
}

body {
  padding: 0px;
  font-family: "Alexandria", sans-serif !important;
  background-color: #000;
  color: #fff;
}

#hero-container {
  width: 90%;
  height: 300px;
  background: url("../images/thumbs/multiviewer.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid rgb(57, 57, 57);
  border-radius: 30px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 100px;
  position: relative; /* Ensures child elements can be positioned relative to this container */
}

#hero {
  height: 100%; /* Ensure #hero fills the container */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Allows positioning of the overlay and text */
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgb(0, 0, 0)
  ); /* Gradient from bottom to top */
  z-index: 0; /* Make sure the overlay is behind the text */
}

#hero h2 {
  color: white;
  font-size: 40px;
  text-align: center;
  position: relative;
  z-index: 1; /* Ensure the text is above the overlay */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds a soft shadow to the text */
}

#hero p {
  color: rgb(213, 213, 213);
  font-size: 25px;
  text-align: center;
  position: relative;
  z-index: 1; /* Ensure the text is above the overlay */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Adds a soft shadow to the text */
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 50px;
  color: white;
  position: relative;
  z-index: 1; /* Ensure the text is above the overlay */
}

a {
  color: #00b7ff;
}

th {
  padding: 0.3em;
}

.row {
  width: 90%;
  margin: auto;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
}

.top-grid {
  width: 90%;
  margin: auto;
  align-items: center;
  align-content: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.videoInfo {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5%;
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  z-index: 1000;
  position: absolute;
  width: 60%;
  height: auto;
  left: 20%;
  top: 10%;
}

.tiny {
  font-size: 8px;
}

.vp {
  /* border: 1px solid #fff; */
  min-height: 200px;
  padding: 0px;
  text-align: center;
  height: 280px;
  /* padding: 30px; */
  /* Ensures the height fits the grid */
}

.info {
  /* background: url('../images/ayozat.png'); */
  /* background-color: #fff;*/
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 280px;
  min-height: 280px;
  color: #000;
  text-align: center;
  padding: 2px;
}

.vp-large {
  min-height: 280px;
}

#vpleft-title {
  margin-top: 10px;
  font-size: 22px;
}

#vpright-title {
  margin-top: 10px;
  font-size: 22px;
}

.viewport {
  display: none !important;
}

.ayozat-image {
  max-height: 220px !important;
  width: 100%;
  /* Make image take the full width of its container */
  height: auto;
  /* Maintain aspect ratio */
  margin-top: 30px;

  object-fit: contain;
  /* Adjust image to fit within the container */
}

video {
  width: 100%;
  min-height: 200px;
  border: 1px solid #383838;
  border-radius: 10px;
  padding: 30px;
  z-index: 10;
}

.grid .title {
  margin-top: -30px;
}

.overlay {
  display: none;
}

.videoInfo {
  display: none;
}

.video-active {
  opacity: 1;
}

.video-paused {
  opacity: 0.5;
}

.video-buffering {
  border: 3px solid red;
}

.video-unmuted {
  border: 3px solid green;
}

.title {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.7);
  /* Add background for better readability */
  padding: 5px;
  /* Add padding to create space around the text */
  position: relative;
  z-index: 10;
  /* Ensure titles are above other elements */
}

.overlay {
  position: relative;
  width: 100%;
  top: -20px;
  background-color: #000;
  opacity: 0.8;
  z-index: 20;
}

.shortcut {
  z-index: 15;
  font-size: 10px;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  /* border: 1px solid;s */
  margin: auto;
  padding: 3px;
  border-radius: 50%;
  background-color: #000;
}

.video-js {
  width: 100%;
  height: 100%;
}

.col-md-3 {
  padding: 5px;
}

.vjs-default-skin {
  color: #fff;
}

.vjs-control-bar {
  display: none;
}

.vp.selected {
  border: 1px solid rgba(251, 251, 251, 0.492);
}

.video-active {
  border: 1px solid #ff0048;
  z-index: 20;
  border-radius: 10px;
  transition: 200ms;
}

.vp:not(.video-active) {
  opacity: 0.7;
  transition: opacity 0.3s, transform 0.3s;
}

.video-active .title {
  color: #ff0048;
  font-weight: bold;
}

.video-active .shortcuts {
  color: #ff0048;
}
