:root {
  --primary-color: #f50537;
  --Background-color: #000000;
  --modal-color: #0f0f0f;
  --border-color-gray: #282828;
  --text-white: #ffffff;
  --text-lightblue: #7b9db4;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Alexandria", sans-serif !important;
  background-color: black;
  overflow: hidden;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loader img {
  width: 100px;
  margin-bottom: 20px;
}

#progress-bar-container {
  width: 80px;
  background-color: #333;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #dd002c;
  transition: width 5s linear;
}

.swiper-button-next,
.swiper-button-prev {
  font-size: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  color: lightgray !important;
  opacity: 0.7;
  cursor: pointer;
}

.swiper-pagination-bullet {
  background-color: var(--text-lightblue) !important;
  /* width: 20px !important; */
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
  width: 20px !important;
  height: 5px !important;
  border-radius: 20px !important;
  opacity: 1 !important;
}

.swiper-main {
  margin-top: 50px;
  width: 100%;
}

.swiper {
  width: 100%;
  height: 90vh !important;
}

.swiper-slide {
  height: 90vh;
}

.swiper-container {
  width: 90%;
  height: 90vh !important;
  margin: auto;
}

.swiper-wrapper {
  height: 90vh !important;
}

.swiper-hero {
  height: 90vh !important;
}

.swiper-back-dot {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%; /* Adjust size as needed */
  height: 70%; /* Adjust size as needed */
  background: radial-gradient(circle, var(--text-white) 0%, transparent 40%);
  opacity: 0.3; /* Adjust transparency as needed */
  border-radius: 100%;
  z-index: -1; /* Position it behind the swiper */
}

.imgCarousal {
  width: 100%;
  object-fit: cover;
  height: 90vh;
  border-radius: 10px;
  border: var(--border-color-gray) solid 1px;
  overflow: hidden;
}

.slider-info {
  position: absolute;
  top: 0;
  width: 50%;
  height: 85vh;
  left: 0;
  right: 0;
  padding: 30px;
  color: white !important;
  background-color: #43434344;
  border-radius: 10px;
  text-align: left;
  transition: opacity 0.3s ease-in-out;
  backdrop-filter: blur(5px);
  overflow: hidden;
}

.slider-info h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.slider-info p {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 10px;
  width: 80%;
}

.swiper-slide-active .slider-info {
  opacity: 1; /* Make it visible when the slide is active */
}

.slider-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 8px; /* Space between icon and text */
  background-color: var(--primary-color);
  border: none;
  color: var(--text-white);
  padding: 5px 8px; /* Adjust as needed */
  text-align: center;
  cursor: pointer;
  border-radius: 50px;
  margin-top: 30px;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease,
    border 0.3s ease;
}

.slider-button svg {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  margin-right: 5px !important;
  color: var(--primary-color);
  background-color: var(--text-white);
  border-radius: 50%;
}

.slider-button h3 {
  font-size: 1.2em; /* Scale up the text size */
  padding-right: 20px; /* Add left padding */
  text-transform: uppercase;
}

.slider-button.selected {
  transform: scale(1.05);
  border: 2px solid white;
}

.id {
  color: #fff;
}

#video-grid-container {
  padding: 50px 0;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px; /* Space between sections */
}

.media-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 20pt;
  color: #ffffff;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
}

.overlay {
  position: absolute;

  top: 0;
  width: 100%;
  height: 90vh;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.204));
  z-index: 0; /* Place the overlay above the image */
  transition: all 1s ease-in-out;
}

.media-details {
  width: 70%;
  margin: auto;
}

.media-details h2 {
  margin-bottom: 30px;
}

.details-container {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  gap: 10px;
  /* padding: 0px 20px; */
}

.detail-box {
  width: 30%;
  background-color: var(--modal-color);
  border: 1px solid var(--border-color-gray);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.detail-box h3 {
  font-size: 25px;
  margin-bottom: 40px;
  color: var(--text-white);
  font-weight: 600;
}

.detail-list {
  list-style-type: none;
  padding: 0;
}

.detail-list li {
  font-size: 18px;
  color: var(--text-white);
  margin-bottom: 6px;
}

.detail-box:hover {
  transform: translateY(-5px);
}

/* Styles for the actor avatars */
.item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.name {
  font-size: 18px;
  color: var(--text-white);
  text-decoration: none;
  margin-left: 20px;
}

.name:hover {
  text-decoration: underline;
}

/* Styles for the genre boxes */
.genre-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.genre-box {
  width: 20px;
  height: 20px;
  background-color: #4caf50; /* Default color for genres */
  margin-right: 8px;
  border-radius: 3px;
}

.countdown-timer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-family: Arial, sans-serif;
  width: 50%;
  margin: 20px 0px;
  margin-top: 50px;
}

.countdown-timer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: #e82930; /* Red color to match your design */
}

.countdown-timer .days::before,
.countdown-timer .hours::before,
.countdown-timer .minutes::before,
.countdown-timer .seconds::before {
  font-size: 14px;
  font-weight: normal;
  color: #9ea3a8; /* Grey color for the labels */
  margin-bottom: 5px;
}

.countdown-timer .days::before {
  content: "Days";
}

.countdown-timer .hours::before {
  content: "Hours";
}

.countdown-timer .minutes::before {
  content: "Minutes";
}

.countdown-timer .seconds::before {
  content: "Seconds";
}

.countdown-timer .days,
.countdown-timer .hours,
.countdown-timer .minutes,
.countdown-timer .seconds {
  font-size: 32px;
}

.expired {
  display: block !important;
  text-align: start !important;
  background-color: #242d418a;
  color: var(--text-white) !important;
  border-radius: 20px;
  padding: 10px 20px;

  h3 {
    font-size: medium;
  }

  p {
    font-size: 15px;
    text-align: justify;
  }
}

.category {
  font-size: 15px !important;
  text-align: center;
  padding: 5px 2px;
  background-color: var(--primary-color);
  color: var(--text-white);
  max-width: 120px;
  border-radius: 5px;
}

.duration {
  font-size: 18px !important;
  font-weight: 600 !important;
  padding: 5px 2px;
  color: var(--text-lightblue);
  border-radius: 5px;
  margin-top: 20px;
}
