:root {
  --primary-color: #f50537;
  --Background-color: #000000;
  --modal-color: #0f0f0f;
  --border-color-gray: #282828;
  --text-white: #ffffff;
  --text-lightblue: #7b9db4;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  overflow: scroll;
  font-family: "Alexandria", sans-serif !important;
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

body.no-scroll {
  overflow: hidden;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loader img {
  width: 100px;
  margin-bottom: 20px;
}

#progress-bar-container {
  width: 80px;
  background-color: #333;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #dd002c;
  transition: width 5s linear;
}

#main {
  display: none;
}

#hero-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: auto;
}

#grid-container {
  display: grid;
  position: absolute;
  top: 50%;
  grid-template-columns: repeat(4, 1fr); /* 5 cards per row */
  gap: 20px;
  padding-top: 50px !important;
  width: 100%;
  padding: 100px;
  margin: auto;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.955),
    rgba(0, 0, 0, 0.172)
  );
  z-index: 1 !important;
  transition: all 1s ease-in-out;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  /* background: linear-gradient(
    240deg,
    rgb(208, 0, 73) 0%,
    rgb(112, 8, 8) 39%,
    rgba(52, 29, 29, 0.342) 100%
  ); */
  background: linear-gradient(
    50deg,
    rgb(19, 0, 9) 0%,
    rgb(65, 1, 18) 39%,
    rgb(255, 0, 81) 100%
  );

  /* border: var(--border-color-gray) 1px solid; */
  transition: background 0.4s ease, transform 0.4s ease;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
  height: 200px;
  text-align: center;
  z-index: 10;
}

.grid-item.selected {
  transform: scale(1.05);
  border: 1px solid rgba(251, 251, 251, 0.492);
}

.grid-item .thumb {
  width: 100%;
  height: 100%;
  background-color: #000;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  display: none;
  z-index: 1;
}

.grid-item.selected .thumb {
  display: block;
  position: absolute;
  height: 120%;
}

.grid-item .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.7;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.grid-item.selected {
  opacity: 1;
  transform: scale(1.05);
  z-index: 10;
}

.grid-item .text {
  padding: 5px;
  color: #ffffff;
}

.grid-item .overlay {
  display: none;
}

.grid-item.selected .overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(49, 0, 0, 0), black);
  z-index: 2;
  position: absolute;
  pointer-events: none;
}

.grid-item.selected .text {
  z-index: 200 !important;
  color: rgb(255, 255, 255);
  margin-top: 70px;
}

.grid-item.selected .title {
  color: #7b7b7b;
  font-size: 18px;
}

.grid-item .title {
  font-size: 18pt; /* Increased font size for larger tiles */
  font-weight: 500;
  margin-top: 10px;
  color: #ffffff;
  transition: color 0.4s ease, transform 0.4s ease;
}

.grid-item i {
  font-size: 40px; /* Increased icon size */
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.grid-item.selected i {
  opacity: 0;
  transform: translateY(-20px);
}

.section {
  margin-bottom: 50px;
}

.section h2 {
  color: white;
  margin-bottom: 20px;
}

html,
body {
  font-family: "Dongle", sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg1: rgb(28, 0, 0); /* Background Color 1 */
  --color-bg2: rgb(0, 0, 0); /* Background Color 2 */
  --color1: 131, 9, 45;
  --color2: 255, 74, 104;
  --color3: 255, 100, 152;
  --color4: 200, 50, 50;
  --color5: 180, 50, 50;
  /* --color-interactive: rgb(255, 100, 100); */
  --circle-size: 80%; /* Relative Circle Size */
  --blending: hard-light; /* Blending Mode */
}

.text-container {
  z-index: 100;
  width: 100vw;
  height: 50vh;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  user-select: none;
  z-index: 2;
}

.logo {
  width: 800px !important;
  height: auto;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100vw;
  height: 90vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;

  svg {
    display: none;
  }

  .gradients-container {
    filter: url(#goo) blur(40px);
    width: 100%;
    height: 100%;
    opacity: 0.4;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 30s ease infinite;

    opacity: 1;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 20s reverse infinite;

    opacity: 1;
  }

  .g3 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 40s linear infinite;

    opacity: 1;
  }

  .g4 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 40s ease infinite;

    opacity: 0.7;
  }

  .g5 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 20s ease infinite;

    opacity: 1;
  }

  .interactive {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color-interactive), 0.8) 0,
        rgba(var(--color-interactive), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: 100%;
    height: 100%;
    top: -50%;
    left: -50%;

    opacity: 0.7;
  }
}
