@font-face {
  font-family: Montserrat;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  overflow: hidden;
  font-family: Montserrat, sans-serif;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loader img {
  width: 100px;
  margin-bottom: 20px;
}

#progress-bar-container {
  width: 80px;
  background-color: #333;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #dd002c;
  transition: width 5s linear;
}

#main {
  display: none;
}

#hero-container {
  width: 90%;
  height: 400px;
  background: linear-gradient(to bottom, rgb(49, 0, 0), black);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid rgb(57, 57, 57);
  border-radius: 30px;
  margin: auto;
  margin-top: 30px;
}

#home-hero {
  height: 400px;
  background-image: url("../images/cover.png");
  background-size: 40% auto;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#grid-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 50px 100px;
  width: 90%;
  margin: auto;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: linear-gradient(
    60deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 38, 1) 39%,
    rgb(255, 0, 81) 100%
  );
  transition: background 0.4s ease, transform 0.4s ease;
  overflow: hidden;
  cursor: pointer;
  width: 300px; /* Increased width */
  height: 200px; /* Increased height */
  text-align: center;
}

.grid-item.selected {
  transform: scale(1.05);
  border: 2px solid rgb(251, 251, 251);
}

.grid-item .thumb {
  width: 100%;
  height: 150px; /* Increased height */
  background-color: #000;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  display: none; /* Hide the thumbnail by default */
}

.grid-item.selected .thumb {
  display: block; /* Show the thumbnail only when selected */
}

.grid-item .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.grid-item.selected .thumb img {
  opacity: 1;
  transform: scale(1.05);
}

.grid-item .text {
  padding: 10px;
  color: #ffffff;
}

.grid-item .title {
  font-size: 16pt; /* Increased font size for larger tiles */
  font-weight: bold;
  color: #ffffff;
  transition: color 0.4s ease, transform 0.4s ease;
}

.grid-item i {
  font-size: 40px; /* Increased icon size */
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.grid-item.selected .title {
  color: rgba(255, 0, 89, 1);
}

.grid-item.selected i {
  opacity: 0;
  transform: translateY(-20px);
}
#settings-button {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 0, 89, 0.8);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease, border 0.3s ease;
  border: none;
}

#settings-button.selected {
  transform: scale(1.05);
  border: 2px solid white;
}

#settings-button i {
  color: white;
  font-size: 24px;
}

.section {
  margin-bottom: 50px;
}

.section h2 {
  color: white;
  margin-bottom: 20px;
}
