@font-face {
  font-family: Montserrat;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  overflow: hidden;
  font-family: Montserrat, sans-serif;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loader img {
  width: 100px;
  margin-bottom: 20px;
}

#progress-bar-container {
  width: 80px;
  background-color: #333;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #dd002c;
  transition: width 5s linear;
}

#main {
  display: none;
}

#hero-container {
  width: 90%;
  height: 400px;
  background: linear-gradient(to bottom, rgb(49, 0, 0), black);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid rgb(57, 57, 57);
  border-radius: 30px;
  margin: auto;
  margin-top: 30px;
}

#home-hero {
  height: 400px;
  background-image: url("../images/cover.png");
  background-size: 40% auto;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 50px 100px;
  width: 100%;
  max-width: 1200px;
  margin: 30px auto;
  justify-content: center;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: linear-gradient(
    60deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 38, 1) 39%,
    rgb(255, 0, 81) 100%
  );
  transition: background 0.4s ease, transform 0.4s ease;
  overflow: hidden;
  cursor: pointer;
}

.grid-item.selected {
  transform: scale(1.05);
  border: 2px solid rgb(251, 251, 251);
}

.grid-item .thumb {
  width: 100%;
  height: 150px;
  text-align: center;
  background-color: #000;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
}

.grid-item .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.grid-item.selected .thumb img {
  opacity: 1;
}

.grid-item .text {
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-item .title {
  font-size: 14pt;
  font-weight: bold;
  color: #ffffff;
  transition: color 0.4s ease, transform 0.4s ease;
}

.grid-item i {
  font-size: 40px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.grid-item.selected .title {
  color: rgba(255, 0, 89, 1);
}

.grid-item.selected i {
  opacity: 0;
  transform: translateY(-20px);
}
