:root {
  --primary-color: #f50537;
  --Background-color: #000000;
  --modal-color: #0f0f0f;
  --border-color-gray: #282828;
  --text-white: #ffffff;
  --text-lightblue: #7b9db4;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Alexandria", sans-serif !important;
  background-color: black;
  overflow: hidden;
}

#hero-container {
  width: 90%;
  height: 300px;
  background: url("../images/thumbs/video.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid rgb(57, 57, 57);
  border-radius: 30px;
  margin: auto;
  margin-top: 30px;
  position: relative; /* Ensures child elements can be positioned relative to this container */
}

#hero {
  height: 100%; /* Ensure #hero fills the container */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Allows positioning of the overlay and text */
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(112, 0, 21, 0.741)
  ); /* Gradient from bottom to top */
  z-index: 0; /* Make sure the overlay is behind the text */
}

#hero h2 {
  color: white;
  font-size: 40px;
  text-align: center;
  position: relative;
  z-index: 1; /* Ensure the text is above the overlay */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adds a soft shadow to the text */
}

#hero p {
  color: rgb(213, 213, 213);
  font-size: 15px;
  text-align: center;
  position: relative;
  z-index: 1; /* Ensure the text is above the overlay */
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5); /* Adds a soft shadow to the text */
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 120px;
  color: white;
  position: relative;
  z-index: 1; /* Ensure the text is above the overlay */
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loader img {
  width: 100px;
  margin-bottom: 20px;
}

#progress-bar-container {
  width: 80px;
  background-color: #333;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #dd002c;
  transition: width 5s linear;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: var(--Background-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

.right-nav {
  display: flex;
  gap: 40px;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 5%;
  height: 100%;
  color: var(--text-white);
  font-family: "Alexandria", sans-serif !important;
}

.logo-container {
  flex: 2 1;
}

.logo-container span {
  flex: 2 1;
  position: relative;
  top: -5px;
  margin-left: 10px;
  font-size: 25px;
  font-weight: 600;
}

.logo {
  width: 200px;
}

.menu-list {
  width: 100%;
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
}

.menu-middle {
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: space-between;
}

.menu-list-item.selected {
  scale: 1.1;
}

.menu-list-item.selected i {
  color: var(--primary-color);
  scale: 1.2;
}

.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.sidebar {
  width: 50px;
  height: 100%;
  background-color: var(--Background-color);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
  color: var(--text-white);
  font-size: 20px;
  margin-bottom: 40px;
}

/* Login Modal */
/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: var(--modal-color);
  margin: 8% auto;
  padding: 20px 20px;
  border: 1px solid var(--border-color-gray);
  width: 30%;
  height: auto;
  border-radius: 10px;
  color: var(--text-white);
  overflow: scroll;
}

.modal-header {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-logo-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 100%;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 0px 10px 50px rgba(255, 0, 0, 0.837);
}

.modal-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-header h2 {
  margin: 0;
  padding-top: 50px;
  font-weight: 600;
  font-size: 25px;
  color: #fff;
}
.modal-header p {
  margin: 0;
  padding: 10px 0;
  font-weight: 300;
  font-size: small;
  color: #7b9db4;
  font-size: 12px;
  margin-bottom: 30px;
}

.modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

input {
  /* width: 100%; */
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
}

.modal-login-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

.modal-footer {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--text-lightblue);
}

.modal-footer span {
  font-size: 12px;
  text-align: center;
  color: var(--primary-color);
  cursor: pointer;
}

.close {
  color: var(--text-white);
  float: right;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.close:hover {
  color: var(--primary-color);
}

/* Submenu Styles */
.submenu {
  display: none;
  position: absolute;
  top: 80px;
  right: 50px;
  width: 100px;
  background-color: var(--modal-color);
  border: 1px solid var(--border-color-gray);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  z-index: 1000; /* Ensure it is above other content */
}

.submenu-item {
  padding: 5px 5px;
  cursor: pointer;
}

.submenu-item:hover {
  color: var(--primary-color);
  background-color: var(--Background-color);
  border-radius: 5px;
}

i {
  cursor: pointer;
  color: var(--text-white);
}

.login-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

.swiper-button-next,
.swiper-button-prev {
  font-size: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  color: lightgray !important;
  opacity: 0.7;
  cursor: pointer;
}

.swiper-pagination-bullet {
  background-color: var(--text-lightblue) !important;
  /* width: 20px !important; */
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
  width: 20px !important;
  height: 5px !important;
  border-radius: 20px !important;
  opacity: 1 !important;
}

.swiper-main {
  width: 100%;
  margin: auto;
}

.swiper {
  width: 100%;
  height: auto !important;
}

.swiper-container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  /* overflow: scroll; */
}

.swiper-wrapper {
  height: auto !important;
}

.swiper-hero {
  height: 70vh !important;
}

.swiper-back-dot {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%; /* Adjust size as needed */
  height: 70%; /* Adjust size as needed */
  background: radial-gradient(circle, var(--text-white) 0%, transparent 40%);
  opacity: 0.3; /* Adjust transparency as needed */
  border-radius: 100%;
  z-index: -1; /* Position it behind the swiper */
}

.imgCarousal {
  width: 100%;
  height: 70%;
  object-fit: cover;
  -webkit-box-reflect: below 5px
    linear-gradient(transparent, transparent 90%, rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  border: var(--border-color-gray) solid 1px;
}

.imgCarousal:hover {
  /* box-shadow: 1px 1px 30px -2px var(--primary-color); */
  border: var(--text-lightblue) solid 1px;
  transition: all 0.5s ease-in-out;
}

.slider-info {
  position: absolute;
  bottom: -10px;
  width: 60%;
  margin: auto;
  left: 0;
  right: 0;
  padding: 10px;
  color: white;
  text-align: center;
  opacity: 0; /* Start with hidden state */
  transition: opacity 0.3s ease-in-out;
}

.slider-info h1 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.slider-info p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

.swiper-slide-active .slider-info {
  opacity: 1; /* Make it visible when the slide is active */
}

.slider-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

.id {
  color: #fff;
}

#video-grid-container {
  padding: 50px 0;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 50px; /* Space between sections */
}

.media-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 15pt;
  color: #ffffff;
  text-align: left;
  width: 100%;
  margin-bottom: 10px;
}

.nav-arrow {
  color: #7b9db4;
  display: flex;
  position: absolute;
  z-index: 20;
}

.right-arrow {
  display: none;
  right: 0;
  margin-top: 210px;
  margin-right: 40px;
}

.left-arrow {
  left: 0;
  margin-top: 210px;
  margin-left: 40px;
}

.video-row-container {
  position: relative;
  width: 100%;
  overflow: hidden; /* Hide overflow to create the gradient effect */
}

.video-row {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  overflow-x: auto;
  padding: 20px;
  scroll-behavior: smooth;
  position: relative;
}

.video-row::-webkit-scrollbar {
  display: none; /* Hide scrollbar for better UI */
}

.video-row-container::before,
.video-row-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 30px;
  opacity: 0.9;
  pointer-events: none; /* Prevent blocking clicks on content */
  z-index: 1;
}

.video-row-container::before {
  left: 0;
  background: linear-gradient(to right, black, transparent);
}

.video-row-container::after {
  right: 0;
  background: linear-gradient(to left, black, transparent);
}

.video-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 10px;
  background: #191919;
  transition: transform 0.4s ease;
  cursor: pointer;
  width: 180px;
  height: 270px;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  flex: 0 0 auto; /* Ensure tiles don't shrink or grow */
}

.video-tile.selected {
  transform: scale(1.1);
  border: 1px solid #ff00515a;

  z-index: 10;
}

.video-tile img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.9;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.video-tile.selected img {
  opacity: 1;
  transform: scale(1.05);
}

.video-tile .title {
  font-size: 10pt;
  font-weight: bold;
  color: #ffffff98;
  margin-top: 20px;
  transition: color 0.4s ease, transform 0.4s ease;
}

.video-tile.selected .title {
  color: #ff0051;
}

.placeholder-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  border-radius: 15px;
  background: #1d1d1d; /* Darker background to indicate loading */
  width: 180px;
  height: 270px;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  flex: 0 0 auto;
}

.placeholder-img {
  width: 100%;
  height: 200px;
  background: #414141bf; /* Another shade to show the image area */
  border-radius: 10px;
}

.placeholder-title {
  width: 90%;
  height: 20px;
  background: #414141bf;
  margin-top: 20px;
  border-radius: 5px;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.placeholder-img,
.placeholder-title {
  background: linear-gradient(90deg, #414141bf 25%, #616161 50%, #414141bf 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}