:root {
  --primary-color: #f50537;
  --Background-color: #000000;
  --modal-color: #0f0f0f;
  --border-color-gray: #282828;
  --text-white: #ffffff;
  --text-lightblue: #7b9db4;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  background-color: var(--Background-color);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: var(--Background-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: var(--text-white);
  font-family: "Poppins", sans-serif;
}

.logo-container {
  flex: 2 1;
}

.logo {
  width: 100px;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
  color: var(--primary-color);
}
.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.sidebar {
  width: 50px;
  height: 100%;
  background-color: var(--Background-color);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
  color: var(--text-white);
  font-size: 20px;
  margin-bottom: 40px;
}

.container {
  background-color: none;
  /* min-height: calc(100vh - 50px); */
  color: var(--text-white);
}

.featured-content {
  height: 100vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
  text-align: center;
}

.featured-button {
  background-color: #fc0000c7;
  color: var(--text-white);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  margin: auto;
}

.movie-list-container {
  padding: 0 0 0 50px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 250px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-title {
  margin: 25px 0;
  font-size: 20px;
  font-weight: 700;
}

.movie-list-item {
  margin-right: 40px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.1);
  margin: 0 30px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 270px;
  height: 200px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  padding: 0 10px;
  font-size: 18px;
  font-weight: 600;
  position: absolute;
  bottom: 5%;
  left: 20px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  background-color: var(--primary-color);
  color: var(--text-white);
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 50%; /* Adjust this to center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, 50%); /* Center the button precisely */
  opacity: 0;
  transition: 1s all ease-in-out;
  font-size: 35px;
}

.arrow {
  font-size: 50px;
  position: absolute;
  top: 100px;
  right: 0;
  color: lightgray !important;
  opacity: 0.5;
  cursor: pointer;
}

.channel-list-title {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 700;
}

.channel-list-item {
  margin-right: 40px;
  position: relative;
  text-align: center;
}

.channel-list-item:hover .channel-list-item-img {
  transform: scale(1.1);
  margin: 0 40px;
  margin-bottom: 10px;
  opacity: 0.5;
}

.channel-list-item:hover .channel-list-item-title,
.channel-list-item:hover .channel-list-item-desc,
.channel-list-item:hover .channel-list-item-button {
  opacity: 1;
}

.channel-list-item-img {
  transition: all 1s ease-in-out;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 20px;
  margin-bottom: 20px;
  border-radius: 100px;
}

.channel-list-item-title {
  font-size: 15px;
  font-weight: 500;
  padding-top: 30px;
  width: 100px;
  text-align: center;
  opacity: 10;
  transition: 1s all ease-in-out;
}

.channel-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: var(--Background-color);
}

.navbar-container.active {
  background-color: white;

  color: var(--Background-color);
}

.sidebar.active {
  background-color: white;
}

.left-menu-icon.active {
  color: var(--Background-color);
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

@media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }
}

.swiper-main {
  width: 100%;
  margin: auto;
}

.swiper {
  width: 100%;
  height: 80%;
}

.swiper-container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 80px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 50%;
  height: 50%;
  margin: auto;
  /* 
  display: flex;
  justify-content: center;
  align-items: center; */
}
.imgCarousal {
  width: 100%;
  /* -webkit-box-reflect: below 8px
    linear-gradient(transparent, transparent, #0005); */
  -webkit-box-reflect: below 10px
    linear-gradient(transparent, transparent 90%, rgba(0, 0, 0, 0.8));
  border-radius: 10px;
}
.id {
  color: #fff;
}

/* Login Modal */
/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: var(--modal-color);
  margin: 8% auto;
  padding: 20px;
  border: 1px solid var(--border-color-gray);
  width: 30%;
  height: 70%;
  border-radius: 10px;
  color: var(--text-white);
  overflow: scroll;
}

.modal-header {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-logo-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 100%;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 0px 10px 50px rgba(255, 0, 0, 0.837);
}

.modal-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-header h2 {
  margin: 0;
  padding-top: 50px;
  font-weight: 600;
  font-size: 25px;
  color: #fff;
}
.modal-header p {
  margin: 0;
  padding: 10px 0;
  font-weight: 300;
  font-size: small;
  color: #7b9db4;
  font-size: 12px;
  margin-bottom: 50px;
}

.modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

input {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
}

.modal-login-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

.close {
  color: var(--text-white);
  float: right;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.close:hover {
  color: var(--primary-color);
}

/* Submenu Styles */
.submenu {
  display: none;
  position: absolute;
  top: 80px;
  right: 50px;
  width: 100px;
  background-color: var(--modal-color);
  border: 1px solid var(--border-color-gray);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  z-index: 1000; /* Ensure it is above other content */
}

.submenu-item {
  padding: 5px 5px;
  cursor: pointer;
}

.submenu-item:hover {
  color: var(--primary-color);
  background-color: var(--Background-color);
  border-radius: 5px;
}

i {
  cursor: pointer;
  color: var(--text-white);

  &:hover {
    color: var(--primary-color);
  }
}

.login-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}
