@font-face {
  font-family: Montserrat;
  src: url(https://fonts.gstatic.com/s/montserrat/v26/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2);
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  overflow: scroll;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#loader img {
  width: 100px;
  margin-bottom: 20px;
}

#progress-bar-container {
  width: 80px;
  background-color: #333;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #dd002c;
  transition: width 5s linear;
}

#main {
  display: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

#main {
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  text-align: left;
}

#hero-container {
  width: 90%;
  height: 400px;
  background: linear-gradient(to bottom, rgb(49, 0, 0), black);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid rgb(57, 57, 57);
  border-radius: 30px;
  margin: auto;
  margin-top: 30px;
}

#home-hero {
  height: 400px;
  background-image: url("thumbs/cover.png");
  background-size: 40% auto;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

table {
  padding: 50px 100px;
  width: 100%;
  height: 50vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.thumb {
  position: relative;
  width: 100%;
  height: 180px;
  text-align: center;
  /* vertical-align: middle; */
  background: linear-gradient(
    60deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(121, 9, 38, 1) 39%,
    rgb(255, 0, 81) 100%
  );
  transition: background 2s ease;
  border-radius: 20px;
  overflow: hidden;
}

.selected .thumb {
  border: solid 1px rgb(93, 93, 93);
}

.thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.selected img {
  border: solid 2px rgb(251, 251, 251);
  transform: scale(1.05);
  opacity: 1;
}

.text {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font: 12pt "Montserrat";
  font-weight: bold;
  color: #474747;
  transition: color 0.4s ease, margin 0.4s ease, transform 0.4s ease;
  margin-top: -50px;
}

i {
  font-size: 40px;
  color: rgb(255, 255, 255);
  position: relative;
  top: -130px;
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.selected i {
  opacity: 0;
  transform: translateY(-100px);
}

.selected .title {
  color: rgba(255, 0, 89, 1);
  transform: translateY(10px);
}

.description {
  font: 18pt "Montserrat";
}
