:root {
  --primary-color: #f50537;
  --Background-color: #000000;
  --modal-color: #0f0f0f;
  --border-color-gray: #282828;
  --text-white: #ffffff;
  --text-lightblue: #7b9db4;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
  background-color: var(--Background-color);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: var(--Background-color);
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: var(--text-white);
  font-family: "Poppins", sans-serif;
}

.logo-container {
  flex: 2 1;
}

.logo-container span {
  flex: 2 1;
  position: relative;
  top: -5px;
  margin-left: 10px;
  font-size: 25px;
  font-weight: 600;
}

.logo {
  width: 200px;
}

.menu-container {
  flex: 6;
}

.menu-list {
  display: flex;
  list-style: none;
  justify-content: center;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
  color: var(--primary-color);
}
.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.sidebar {
  width: 50px;
  height: 100%;
  background-color: var(--Background-color);
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
  color: var(--text-white);
  font-size: 20px;
  margin-bottom: 40px;
}

.container {
  background-color: none;
  /* min-height: calc(100vh - 50px); */
  color: var(--text-white);
}

.featured-content {
  height: 100vh;
  padding: 50px;
}

.featured-title {
  width: 200px;
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
  text-align: center;
}

.featured-button {
  background-color: #fc0000c7;
  color: var(--text-white);
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  margin: auto;
}

.movie-list-container {
  padding: 0 0 0 50px;
}

.movie-list {
  display: flex;
  align-items: center;
  height: 250px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.movie-list-title {
  margin: 25px 0;
  font-size: 20px;
  font-weight: 700;
}

.movie-list-item {
  margin-right: 40px;
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, black, transparent);
  z-index: 1; /* Place the overlay above the image */
  opacity: 0;
  transition: all 1s ease-in-out;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.1);
  margin: 0 10px;
  transition: all 1s ease-in;
}

.movie-list-item:hover .overlay {
  transform: scale(1.1);
  margin: 0 10px;
  opacity: 1;
  transition: all 1s ease-in-out;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
  z-index: 10;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 250px;
  height: 190px;
  object-fit: cover;
  border-radius: 20px;
}

.movie-list-item-title {
  padding: 0 10px;
  font-size: 15px;
  font-weight: 600;
  position: absolute;
  width: 70%;
  bottom: 5%;
  left: 20px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  background-color: #333;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 50px;
  width: 230px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  background-color: var(--primary-color);
  color: var(--text-white);
  border-radius: 50px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 50%; /* Adjust this to center vertically */
  left: 130px; /* Center horizontally */
  transform: translate(-50%, 50%); /* Center the button precisely */
  opacity: 0;
  transition: 1s all ease-in-out;
  font-size: 35px;
}

.swiper-button-next,
.swiper-button-prev {
  font-size: 50px;
  position: absolute;
  top: 50%;
  right: 0;
  color: lightgray !important;
  opacity: 0.7;
  cursor: pointer;
}

.swiper-pagination-bullet {
  background-color: var(--text-lightblue) !important;
  /* width: 20px !important; */
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
  width: 20px !important;
  height: 5px !important;
  border-radius: 20px !important;
  opacity: 1 !important;
}
.channel-list {
  display: flex;
  align-items: center;
  height: 250px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.series-list {
  display: flex;
  align-items: center;
  height: 250px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
}

.channel-list-title {
  margin: 20px 0;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.channel-list-item {
  margin-right: 50px;
  text-align: center;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.channel-list-item:hover .channel-list-item-img {
  transform: scale(1.1);
  /* margin-bottom: 10px; */
  opacity: 0.5;
  margin: 0 20px;
}

.channel-list-item:hover .channel-list-item-title,
.channel-list-item:hover .channel-list-item-desc,
.channel-list-item:hover .channel-list-item-button {
  opacity: 1;
}

.channel-list-item-img {
  transition: all 1s ease-in-out;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 100px;
}

.channel-list-item-title {
  font-size: 15px;
  font-weight: 500;
  padding-top: 10px;
  width: auto; /* Ensure width is only as much as the content */
  text-align: center;
  opacity: 10;
  transition: 1s all ease-in-out;
  display: block; /* Ensures it takes up its own line */
}

.container.active {
  background-color: white;
}

.movie-list-title.active {
  color: var(--Background-color);
}

.navbar-container.active {
  background-color: white;

  color: var(--Background-color);
}

.sidebar.active {
  background-color: white;
}

.left-menu-icon.active {
  color: var(--Background-color);
}

.toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
}

@media only screen and (max-width: 940px) {
  .menu-container {
    display: none;
  }
}

.swiper-main {
  width: 100%;
  margin: auto;
}

.swiper {
  width: 100%;
  height: auto !important;
}

.swiper-container {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  /* overflow: scroll; */
}

.swiper-wrapper {
  height: auto !important;
}

.swiper-hero {
  height: 70vh !important;
}

.swiper-back-dot {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%; /* Adjust size as needed */
  height: 70%; /* Adjust size as needed */
  background: radial-gradient(circle, var(--text-white) 0%, transparent 40%);
  opacity: 0.3; /* Adjust transparency as needed */
  border-radius: 100%;
  z-index: -1; /* Position it behind the swiper */
}

.imgCarousal {
  width: 100%;
  height: 70%;
  object-fit: cover;
  -webkit-box-reflect: below 5px
    linear-gradient(transparent, transparent 90%, rgba(0, 0, 0, 0.5));
  border-radius: 10px;
  border: var(--border-color-gray) solid 1px;
}

.imgCarousal:hover {
  /* box-shadow: 1px 1px 30px -2px var(--primary-color); */
  border: var(--text-lightblue) solid 1px;
  transition: all 0.5s ease-in-out;
}

.slider-info {
  position: absolute;
  bottom: -10px;
  width: 60%;
  margin: auto;
  left: 0;
  right: 0;
  padding: 10px;
  color: white;
  text-align: center;
  opacity: 0; /* Start with hidden state */
  transition: opacity 0.3s ease-in-out;
}

.slider-info h1 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.slider-info p {
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
}

.swiper-slide-active .slider-info {
  opacity: 1; /* Make it visible when the slide is active */
}

.slider-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

.id {
  color: #fff;
}

/* Login Modal */
/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.modal-content {
  background-color: var(--modal-color);
  margin: 8% auto;
  padding: 20px 20px;
  border: 1px solid var(--border-color-gray);
  width: 30%;
  height: auto;
  border-radius: 10px;
  color: var(--text-white);
  overflow: scroll;
}

.modal-header {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.modal-logo-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 100%;
  padding: 10px;
  margin-top: 50px;
  box-shadow: 0px 10px 50px rgba(255, 0, 0, 0.837);
}

.modal-logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.modal-header h2 {
  margin: 0;
  padding-top: 50px;
  font-weight: 600;
  font-size: 25px;
  color: #fff;
}
.modal-header p {
  margin: 0;
  padding: 10px 0;
  font-weight: 300;
  font-size: small;
  color: #7b9db4;
  font-size: 12px;
  margin-bottom: 30px;
}

.modal-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

input {
  /* width: 100%; */
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
}

.modal-login-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}

.modal-footer {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--text-lightblue);
}

.modal-footer span {
  font-size: 12px;
  text-align: center;
  color: var(--primary-color);
  cursor: pointer;
}

.close {
  color: var(--text-white);
  float: right;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}

.close:hover {
  color: var(--primary-color);
}

/* Submenu Styles */
.submenu {
  display: none;
  position: absolute;
  top: 80px;
  right: 50px;
  width: 100px;
  background-color: var(--modal-color);
  border: 1px solid var(--border-color-gray);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  z-index: 1000; /* Ensure it is above other content */
}

.submenu-item {
  padding: 5px 5px;
  cursor: pointer;
}

.submenu-item:hover {
  color: var(--primary-color);
  background-color: var(--Background-color);
  border-radius: 5px;
}

i {
  cursor: pointer;
  color: var(--text-white);
}

.login-button {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50px;
}
