.hero-container {
  position: absolute;
  width: 100%;
}

.hero-image {
  width: 100%;
}

.details-container {
  position: relative;
  padding-top: 30px;
  margin-left: 120px;
}

.hero-details {
  margin-top: -50px;
}

.channel-logo {
  margin-left: -20px;
  width: 200px;
  height: 150px;
}

.hero-title {
  font-size: 61px;
  font-weight: 600;
  color: white;
}

.hero-discription {
  width: 450px;
  font-size: 12px;
  font-weight: 300;
  color: white;
}

.details-button-container {
  margin-top: 230px;
  display: flex;
  gap: 30px;
  align-items: center;
}

.details-fav-icon {
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.details-play-button {
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: 400;
  color: white;
  background: #ed093a;
  border-radius: 25px;
  cursor: pointer;
}

.video-content-container {
  margin-left: 50px;
}

.episode-list-container {
  margin-top: 100px;
  padding: 0 0 0 0 50px;
}

.episode-list-wrapper {
  position: relative;
  /* overflow: hidden; */
}

.episode-list-title {
  margin: 25px 0;
  font-size: 22px;
  font-weight: 600;
}

.episode-list {
  display: flex;
  align-items: center;
  width: 298px;
  height: 395px;
  transform: translateY(0);
  transition: all 1s ease-in-out;
}

.episode-list-item {
  margin-right: 40px;
}

.episode-list-item:hover .episode-list-item-img {
  transform: scale(1.1);
  margin: 10px 0 10px 0;
  opacity: 0.5;
}

.episode-list-item:hover .episode-list-item-title {
  padding: 20px 0 0 0;
  opacity: 1;
}

.episode-list-item:hover .episode-list-item {
  align-items: center;
}

.episode-list-item-img {
  transition: all 1s ease-in-out;
  width: 260px;
  height: 346px;
  object-fit: cover;
  border-radius: 20px;
}

.episode-list-item-title {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  align-items: center;
  left: 20px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.footer-container {
  padding: 80px 0 20px 0;
  display: flex;
  justify-content: center;
}

.footer-text {
  font-size: 16px;
  font-weight: 400;
}
